In [49]:
import pandas as pd

In [ ]:
db = pd.read_csv("dataset.csv")
db

0          GATATTGGTACTTTATATTTAATATTCGCAGGGTTTGCTGGTATTA...
1          ACTTTATATTTATTGTTTGCAGGGTTTGCTGGTATAATAGGAACAA...
2          ACTTTATATTTATTGTTTGCAGGGTTTGCTGGTATAATAGGAACAA...
3          ACTTTATATTTATTGTTTGCAGGGTTTGCTGGTGTAATAGGAACAA...
4          ATGCATCGTCAAGATTTAATTTTAAAAAAATTAAATAAAAAATTTG...
                                 ...
1779511    GTGTCTCCTGCTATTCGGTGGCTCTGTTCCACAAGTCATAAAGATA...
1779512    GTGTCTCCTGCTGTTCGGTGGCTATGCTCTACTAGCCACAAAGATA...
1779513    ATGATACTCGGAACATGATCAGCCAGTATCGGAACACTACTGAGCC...
1779514    ATGCGCTGGCTCTATTCTACTTCTCACAAGGACATCGCCCTCCTCT...
1779515    TTGGTCAGGTGGGCGTGATCGACAAATCATAAGGATATAGGCGTGT...
Name: Sequence, Length: 1779516, dtype: object

In [ ]:
#Como dice Goro son todas Eukaryotas (hay que tener en cuenta)
filtered_db = db[db["Kingdom"] == "Eukaryota_2759"]
#filtered_db

In [ ]:
taxonomy = "Species"
taxonomy_types = db[taxonomy].unique()
print(taxonomy_types)
print(len(taxonomy_types))

['Clydonella sawyeri_2201168' 'Paravannella minima_1443144'
 'Ripella decalvata_2047822' ... 'Rhodosorus marinus_101924'
 'Stylonema alsidii_35155' 'Tsunamia transpacifica_1935457']
235083

In [61]:
values_to_exclude = taxonomy_types
classes_df_negative = db[~db[taxonomy].isin(values_to_exclude)]
#classes_df_negative

In [60]:
values_to_include = taxonomy_types
classes_df_positive = db[db[taxonomy].isin(values_to_include)]
#classes_df_positive

In [64]:
values = db['Sequence']
lengths = values.str.len()
all_same_length = lengths.nunique() == 1

if all_same_length:
    print(f"All strings have the same length: {lengths.iloc[0]}")
else:
    print("Strings have different lengths")
    print(lengths.value_counts())
    num_different_sizes = lengths.nunique()
    print(f"Number of different sizes: {num_different_sizes}")

Strings have different lengths
Sequence
658     313158
657      38030
655      34864
652      34356
588      19956
         ...
1634         1
1627         1
1944         1
1929         1
2217         1
Name: count, Length: 1685, dtype: int64
Number of different sizes: 1685

In [65]:
length_summary = lengths.value_counts().reset_index()
length_summary.columns = ['length', 'count']

length_summary = length_summary.sort_values('length')
length_summary.to_csv('length_summary.csv', index=False)

print(length_summary.head())

      length  count
721      100    205
1545     101      5
1534     102      5
1500     103     10
1528     104      6

In [ ]:
db['length'] = db['Sequence'].str.len()

,Header,Sequence,Kingdom,Phylum,Class,Order,Family,Genus,Species,length
0,>MG559732.1.<1.>690,GATATTGGTACTTTATATTTAATATTCGCAGGGTTTGCTGGTATTA...,Eukaryota_2759,Discosea_555280,Flabellinia_1485085,order_Vannellidae_95227,Vannellidae_95227,Clydonella_218657,Clydonella sawyeri_2201168,690
1,>KF895381.1.<1.>897,ACTTTATATTTATTGTTTGCAGGGTTTGCTGGTATAATAGGAACAA...,Eukaryota_2759,Discosea_555280,Flabellinia_1485085,order_Vannellidae_95227,Vannellidae_95227,Paravannella_1443143,Paravannella minima_1443144,897
2,>KF895380.1.<1.>897,ACTTTATATTTATTGTTTGCAGGGTTTGCTGGTATAATAGGAACAA...,Eukaryota_2759,Discosea_555280,Flabellinia_1485085,order_Vannellidae_95227,Vannellidae_95227,Paravannella_1443143,Paravannella minima_1443144,897
3,>KF895382.1.<1.>897,ACTTTATATTTATTGTTTGCAGGGTTTGCTGGTGTAATAGGAACAA...,Eukaryota_2759,Discosea_555280,Flabellinia_1485085,order_Vannellidae_95227,Vannellidae_95227,Paravannella_1443143,Paravannella minima_1443144,897
4,>MH910097.1.42453.44279,ATGCATCGTCAAGATTTAATTTTAAAAAAATTAAATAAAAAATTTG...,Eukaryota_2759,Discosea_555280,Flabellinia_1485085,order_Vannellidae_95227,Vannellidae_95227,Paravannella_1443143,Paravannella minima_1443144,1827
...,...,...,...,...,...,...,...,...,...,...
1779511,>OK643902.1.2082.3653,GTGTCTCCTGCTATTCGGTGGCTCTGTTCCACAAGTCATAAAGATA...,Eukaryota_2759,Rhodophyta_2763,Stylonematophyceae_446134,Stylonematales_282338,Stylonemataceae_446133,Chroodactylon_101918,Chroodactylon ornatum_139907,1572
1779512,>OK643915.1.1.1572,GTGTCTCCTGCTGTTCGGTGGCTATGCTCTACTAGCCACAAAGATA...,Eukaryota_2759,Rhodophyta_2763,Stylonematophyceae_446134,Stylonematales_282338,Stylonemataceae_446133,Chroothece_362227,Chroothece mobilis_362228,1572
1779513,>OK643891.1.2209.3744,ATGATACTCGGAACATGATCAGCCAGTATCGGAACACTACTGAGCC...,Eukaryota_2759,Rhodophyta_2763,Stylonematophyceae_446134,Stylonematales_282338,Stylonemataceae_446133,Rhodosorus_101923,Rhodosorus marinus_101924,1536
1779514,>OK643952.1.1.1602,ATGCGCTGGCTCTATTCTACTTCTCACAAGGACATCGCCCTCCTCT...,Eukaryota_2759,Rhodophyta_2763,Stylonematophyceae_446134,Stylonematales_282338,Stylonemataceae_446133,Stylonema_35154,Stylonema alsidii_35155,1602
1779515,>OK643963.1.1.1566,TTGGTCAGGTGGGCGTGATCGACAAATCATAAGGATATAGGCGTGT...,Eukaryota_2759,Rhodophyta_2763,Stylonematophyceae_446134,Stylonematales_282338,Stylonemataceae_446133,Tsunamia_1935456,Tsunamia transpacifica_1935457,1566

In [ ]:
value = db[db[''] == 'John']['age'].iloc[0]  # First match